<style>
    .message_content { font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif; max-width: 600px; font-size: 18px; line-height: 24px; }
</style>

<div class='message_content'>
    <p>Olá {{name}}!</p>

    <br />

    <p>Recebemos uma solicitação de redefinição de senha para a sua conta no API
        Vendas.</p>

    <br />

    <p>Clique no link abaixo para dar prosseguimento em sua redefinição de
        senha:</p>
    <p>
        <a href='{{link}}'>Resetar minha senha.</a>
    </p>

    <br />

    <p>Caso o link não funcione, por favor, utilize o token abaixo:</p>
    <h2>{{token}}</h2>

    <br />

    <p>Caso tenha sido um engano, e você não tenha feito a solicitação, por
        favor ignore este e-mail.</p>
</div>

<footer>
    <p>Muito obrigado! - Equipe API Vendas.</p>
</footer>
